@charset "utf-8";

$mobile-size: "screen and (max-width: 768px)";
$tablet-size: "screen and (min-width: 769px)";
$desktop-size: "screen and (min-width: 1024px)";
$widescreen-size: "screen and (min-width: 1216px)";
$fullhd-size: "screen and (min-width: 1408px)";

